.cart-container {
  width: 100%;
  height: 100%; /* Fa sì che il container occupi tutta l'altezza della pagina */
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Centra il testo al suo interno */
  flex-direction: column;
}

.cart-items {
  width: 50%;
  background-color: rgb(91, 84, 84);
  border-radius: 10px;
}

.prova {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prova p {
  flex: 1;
}
.prova button {
  flex: 1;
  margin-right: 10px;
}

.resoconto {
  display: flex;
  width: 50%;
  margin-top: 20px;
  background-color: rgb(91, 84, 84);
  border-radius: 10px;
}

.resoconto p {
  flex: 1;
  justify-content: flex-start;
  margin: 10px;
}

.resoconto h3 {
  margin-top: 0px;
}
